.header,.banner{
    align-items: center;
    display: flex;
    justify-content: center;
}

.header img{
    height: 100px;
}

.description{
    transform:translateX(50%)
}
.left{
    background-color: lightskyblue ;
    height: 400px;
}
.center{
    background-color: lightgreen ;
    height: 400px;
}
.right{
    background-color: lightskyblue ;
    height: 400px;
}
.banner{
    background-color: red;
}

.footer{
    background-color: rgb(255, 230, 0);
    height: 100px;
    text-align: center;
}