
@{
    ViewData["Title"] = "Liste de Personnes";
}

<div>
    <h1>Index Person</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non venenatis nulla, fringilla bibendum libero. Quisque id porta eros, vel vehicula purus. Mauris nec neque sed urna vestibulum rutrum blandit id nisi. Fusce eleifend nunc vitae est feugiat convallis. Duis eu dapibus ipsum. In ut eleifend mi. Donec sodales felis eget justo scelerisque, eu tristique enim imperdiet. Etiam eu lectus consectetur, sagittis odio vitae, blandit diam. Quisque libero mi, imperdiet quis sem sit amet, ornare malesuada nibh.
    </p>

</div>

